@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* navbar css */
.allnavitem{  
  display: flex;
  justify-content: space-between;
  background-color: rgba(255,0,0,0);
  padding: 25px;
  height: 50px;
  position: relative;
  z-index: 2;
}
.itemdiv{
  padding: 10px 38px;
  border-radius: 20px;
  margin-left:15px ;
  transition: all 0.3s ease-in;
  font-size: 18px;
  font-family: cursive;
}
#logotext{
  padding-right: 12px;
  border-radius: 12px;
  background: gray;
  color: white;
  padding-top: 5px;
} 
.itemdiv:hover{
  background-color: rgb(73, 71, 71);
  color: white;
  transform: scale(1.1);
}
.navlist{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#logotext1{
  font-size: 18px;
  margin-left: 25px;
  font-family: cursive;
}
#logotext2{
  font-size: 25px;
  font-family: cursive;
  font-weight: bold;
}

/* main bottom of the navbar  */
#maindiv{
display: flex;
flex-direction: row;
height: 100vh;
width: 100%;
position: absolute;
top: 0px;
z-index: 1;
}

#subdiv1{
  background-image: url("/src/asset/image3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 50%;
  opacity: 0.9;
}

#details{
  position: absolute;
  top: 130px;
  left: 50px;
}

#subdiv2{
  background-color: rgba(80, 72, 72,0.3);
  height: 100%;
  width: 50%;
}
input {
  height: 30px;
  width: 500px;
  background-color: transparent;
    border: 0px solid;
    height: 25px;
    width: 500px;
    color: black;
}   
input:focus{
  outline: none;
}

#searchbar{
  margin-top: 20px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
}

#cardDetail{
  overflow: scroll;
  background-color: rgba(80, 72, 72,0.4);
  border-radius: 12px;
  color: white;
  padding: 15px;
  top: 100px;
  position: absolute;
  width: 500px;
  right: 100px;
  height: 500px;
}
#cardDetail::-webkit-scrollbar{
  display: none;
}

.card{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  background-color: blanchedalmond;
  padding: 10px;
  height: 120px;
  width: 420px;
  margin-left: 25px;
  margin-top: 25px ;
  box-shadow: 10px 7px 20px 5px rgb(41, 40, 40);
  transition: all 0.5s ease-out;
}

.card:hover{
  box-shadow: 10px 8px 10px 1px black;
    transform: scale(0.9);
}

.cards{
  position: absolute;
  top: 100px;
  left: 55px;
  width: 500px;
  height: 540px;
  overflow: scroll;
}

.cards::-webkit-scrollbar{
  display: none;
}
.imagediv{
height: 100px;
width: 100px;
border-radius: 12px;
background-color: white;
}
.card img{
  height: 100px;
  width: 100px;
  border-radius: 12px;
  box-shadow: 0px 5px 18px gray;
  object-fit: cover;
}

.cardpara{
  padding: 10px;
  overflow:hidden
}

/* .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

/* HTML: <div class="loader"></div> */
.loader {
  position: absolute;
  top:380px;
  left: 280px;
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}